<!-- Header -->
<div id="header">
						
    <!-- Logo -->
        <h1><a href="./" id="logo">AI for Life <em style="font-size: 9pt;color: #cbcbcb" class="only-large">Rethinking Interaction Collaboration and Engagement</em></a></h1>
    
    <!-- Nav -->
        <nav id="nav">
            <ul>
                <li ><a href="./">Home</a></li>
                <!-- <li ><a href="#">About Us</a></li> -->
                <li ><a href="./people.htm">People</a></li>
                <li ><a href="./projects.htm">Projects</a></li>
                <li ><a href="./publications.htm">Publications</a></li>
                <!-- <li ><a href="#">Blog</a></li> -->
                <li ><a href="./join-us.htm">Join Us</a></li>
                <li ><a href="./awards.htm">Awards</a></li>
            </ul>
        </nav>
</div>