<!-- Main -->
<section class="wrapper style1">
    <div class="container">
        <div id="content">

            <!-- Content -->

            <article>
                <header>
                    <h2>Join Us</h2>
                    <p>Minions for world domination</p>
                </header>

                <span class="image featured">
                    <img style="width: auto; margin: 0 auto;" src="./assets/images/join-us.png" alt="" />
                </span>


                <p>Interested in embarking on an exciting career in research, or just want to get involved in world
                    domination?</p>

                <p>Take a look at our <a href="/projects">Research Projects</a> to get a sense for our research
                    interests, and see if you fit in. If you are an undergrad, take a gander at some of our <a
                        href="/undergrad-research-projects">Undergrad Research Projects</a> to see what is available.
                </p>

                <p>If these things seem interesting, feel free to <a
                        href="mailto:tonyt@ucalgary.ca?subject=World Domination">fire us an email</a>. Include the
                    following (I will not review anything without all four items):</p>

                <ul>
                    <li>A good knock knock joke</li>
                    <li>Unofficial transcript</li>
                    <li>Resume</li>
                    <li>Sample of writing (e.g. an essay you wrote)</li>
                </ul>


            </article>

        </div>
    </div>
</section>