
<!-- Main -->
	<section class="wrapper style1">
		<div class="container">
			<div id="content">

				<!-- Content -->
			
					<article>
						<header>
							<h2>People</h2>
							<p>Awesome people of Ai For Lif</p>
						</header>
						
						<span class="image featured"><img src="./assets/images/people/people-group.png" alt="" /></span>
						
						
						<h1 id="current-members">Current Members</h1>
<section class="wrapper style1">
    <div class="container">
        <div class="row double">
          
            
                <section class="4u">
                    <div class="box post">
                            <a href="#" class="image left"><img src="./assets/images/people/blank-profile-picture.png" alt="" /></a>
                        <div class="inner">
                            <h3><a href="#">Ashfia Jahan</a></h3>
                            <p>B.Sc.</p>
                        </div>
                    </div>
                </section>
                <section class="4u">
                    <div class="box post">
                        <a href="#" class="image left"><img src="./assets/images/people/blank-profile-picture.png" alt="" /></a>
                        <div class="inner">
                            <h3><a href="#">Sahriar Rafiul Rifat</a></h3>
                            <p>B.Sc.</p>
                        </div>
                    </div>
                </section>
        
                <section class="4u">
                    <div class="box post">
                        <a href="#" class="image left"><img src="./assets/images/people/blank-profile-picture.png" alt="" /></a>
                        <div class="inner">
                            <h3>Abdullah-Al-Mukit</h3>
                            <p>B.Sc.</p>
                        </div>
                    </div>
                </section>
        </div>
    </div>
</section>

<h1 id="alumni">Alumni</h1>

<section class="wrapper style1">
    <div class="container">
        <div class="row double">

                <section class="4u">
                    <div class="box post">
                        
                            <a href="https://mohitosh.com/" class="image left"><img src="./assets/images/people/mohitosh.jpg" alt="" /></a>
                        
                        <div class="inner">
                            <h3><a href="https://mohitosh.com/">Mohitosh Pramanik</a></h3>
                            <p>B.Sc. Student (2015-2018)<br />PAMS</p>
                        </div>
                    </div>
                </section>
              
            
              
                <section class="4u">
                    <div class="box post">
                        
                            <a href="#" class="image left"><img src="./assets/images/people/Shahariar.jpg" alt="" /></a>
                        
                        <div class="inner">
                            <h3><a href="#">Shahariar Hasan</a></h3>
                            <p>B.Sc. Student (2015-2018)<br />PAMS</p>
                        </div>
                    </div>
                </section>
              
                <section class="4u">
                    <div class="box post">
                            <a href="#" class="image left"><img src="./assets/images/people/Ishika.jpg" alt="" /></a>
                        <div class="inner">
                            
                            <h3><a href="#">Ishika Mahmud</a></h3>
                            <p>B.Sc. Student (2015-2018)<br />PAMS</p>
                        </div>
                    </div>
                </section>
            
        </div>
    </div>
</section>

					</article>
		
			</div>
		</div>
	</section>
