<section class="wrapper style1">
    <div class="container">
        <div id="content">

            <!-- Content -->
        
                <article>
                    <header>
                        <h2></h2>
                        <p></p>
                    </header>
                    
                    
                    <h1 id="current-projects">Current Projects</h1>
<section class="wrapper style1">
<div class="container">
    <div class="row double">
    
        
            <section class="6u">
                <div class="box post">
                    
                        <a href="#" class="image left"><img src="./assets/images/image-missing.jpg" alt="" /></a>
                    
                    <div class="inner">
                        <h3><a href="/projects/efashion/">Electronic Fashion</a></h3>
                        <p>New forms of digital expression</p>
                    </div>
                </div>
            </section>
        

        
            <section class="6u">
                <div class="box post">
                    
                        <a href="#" class="image left"><img src="./assets/images/image-missing.jpg" alt="" /></a>
                    
                    <div class="inner">
                        <h3><a href="/projects/games/">Games and Leisure</a></h3>
                        <p>Ethnographic explorations into designs of leisure technologies</p>
                    </div>
                </div>
            </section>
        
    
        
    
        
            <section class="6u">
                <div class="box post">
                    
                        <a href="#" class="image left"><img src="./assets/images/image-missing.jpg" alt="" /></a>
                    
                    <div class="inner">
                        <h3><a href="/projects/collaborative-ar/">Mixed Reality for Collaboration</a></h3>
                        <p>Augmenting interaction with digital information</p>
                    </div>
                </div>
            </section>
        
    
        
            <section class="6u">
                <div class="box post">
                    
                        <a href="#" class="image left"><img src="./assets/images/image-missing.jpg" alt="" /></a>
                    
                    <div class="inner">
                        <h3><a href="/projects/multi-surface-environments/">Digital Workrooms of the Future</a></h3>
                        <p>Designing fluid interaction techniques and applications for collaboration</p>
                    </div>
                </div>
            </section>
        
    
    </div>
</div>
</section>

<h1 id="past-projects">Past Projects</h1>

<section class="wrapper style1">
<div class="container">
    <div class="row double">
    
        
    
        
            <section class="6u">
                <div class="box post">
                    
                        <a href="#" class="image left"><img src="./assets/images/project-images/pams.jpg" alt="" /></a>
                    
                    <div class="inner">
                        <h3><a href="./project-pams.htm">Parking Automation & Management System</a></h3>
                        <p>Parking Automation & Management System</p>
                    </div>
                </div>
            </section>
        
    
        
            <section class="6u">
                <div class="box post">
                    
                        <a href="#" class="image left"><img src="./assets/images/image-missing.jpg" alt="" /></a>
                    
                    <div class="inner">
                        <h3><a href="/projects/social-watching-of-sports/">Social Watching of Sports</a></h3>
                        <p>Using latent social activity for efficient sports viewing</p>
                    </div>
                </div>
            </section>   

    </div>
</div>
</section>

                </article>
    
        </div>
    </div>
</section>
