<!-- Main -->
<section class="wrapper style1">
    <div class="container">
        <div class="row double">
            <div class="4u">
                <div id="sidebar">

                    <!-- Sidebar -->

                    <section>
                        <h3>Current Projects</h3>
                        <ul>


                            <li><a href="/projects/efashion/">Electronic Fashion</a></li>


                        </ul>

                        <h3>Past Projects</h3>
                        <ul>
                            <li><a href="/projects/teaching-technologies/">Technologies for Teaching</a></li>
                            <li><a href="/projects/social-watching-of-sports/">Social Watching of Sports</a></li>
                        </ul>
                    </section>
                </div>
            </div>
            <div class="8u skel-cell-important">
                <div id="content">

                    <!-- Content -->

                    <article>
                        <header>
                            <h2>Parking Automation & Management System</h2>
                            <p>Parking Automation & Management System</p>
                        </header>


                        <figure style="text-align: center;">

                            <img style="width: auto;height: 300px;" src="./assets/images/project-images/pams.jpg"
                                alt="Parking Automation & Management System" width="100%" />

                            <figcaption>
                                Parking Automation & Management System
                            </figcaption>

                        </figure>

                        <p style="text-align: justify;">Finding a safe and secure parking lot in an over populated city like Dhaka is a deepest
                            concern for vehicle users. The proposed project aims to develop a prototype of an automated
                            car park management system that will increase the quality of parking service, utilizing the
                            advancement of Internet of things (IoT) that assists motorists both finding parking location
                            and fair charge. The project has encompassed both implementation of an automatic location
                            tracking, parking management, monitoring, real time bill generation and payment system. The
                            overall system enables an efficient Parking Guidance and mutual information system concept
                            for parking providers and motorists. The consequences of the project include but not limited
                            to the safety of the vehicles, valuables inside the vehicle and boldly reduction of traffic
                            jam from the city. Deep neural network based character recognition was employed to count and
                            put into list all the cars entering the parking area. All the parking activities in this
                            system are monitorable by “LCD Display & Web Application”. The Automated Car Park Management
                            System was successfully built by utilizing microcontrollers & microprocessor specifically
                            “Arduino Uno R3 (Microcontroller) &Raspberry Pi 3 Model B (Microprocessor)”.

                        </p>

                        <h2 id="publications">Publications</h2>

                        <ol class="bibliography">
                            <li>
                                <section id="citation">
                                    <a href="/papers/seyed2019mannequette"><span id="seyed2019mannequette">Teddy Seyed
                                            and Anthony Tang. (2019). <span
                                                style="text-decoration: underline">Mannequette: Understanding and
                                                Enabling Collaboration and Creativity on Avant-Garde Fashion-Tech
                                                Runways</span>. In <i>DIS 2019: Conference on Designing Interactive
                                                Systems 2019</i>, 10 pages.</span>

                                        (conference).</a><br />

                                    <small>Acceptance: 25% - 100/400.</small>


                                    <small>Notes: Honourable mention (top 2% of all submissions).</small>


                                    <br />


                                    <a href="http://hcitang.org/papers/2019-dis2019-mannequette.pdf "><i
                                            class="fa fa-file-pdf-o"></i></a>



                                    <a href="http://hcitang.org/papers/2019-dis2019-mannequette.mp4 "><i
                                            class="fa fa-film"></i></a>


                                </section><a class="details" href="/papers/seyed2019mannequette/">
                                    <!-- --></a>
                            </li>
                        </ol>



                    </article>
                </div>
            </div>
        </div>
    </div>
</section>