<style>
    #citation a {
    color: black;
    border-bottom: none;
}
</style>
<!-- Main -->

<section class="wrapper style1">
    <div class="container">
        <div class="row double">
            <div class="3u">
                <div id="sidebar">
                    <!-- Sidebar -->
                    <section>
                        <h3>See publications</h3>
                        <ul>
                            <li><a href="/papers/">by Year</a></li>
                            <!-- <li><a href="/papers/byType.html">by Publication Type</a></li> -->
                        </ul>

                        <h3>Jump to...</h3>


                        <a href="#2020">2020</a>&nbsp;&nbsp;&nbsp;

                        <a href="#2019">2019</a>&nbsp;&nbsp;&nbsp;

                        <a href="#2018">2018</a>&nbsp;&nbsp;&nbsp;



                    </section>
                </div>
            </div>
            <div class="9u skel-cell-important">
                <div id="content">
                    <!-- Content -->

                    <h1><a name="2020"></a>2020</h1>
                    <ol class="bibliography">
                        <li>
                            <section id="citation">
                                <a href="/papers/jones2020wsar"><span id="jones2020wsar">Brennan Jones, Anthony Tang,
                                        and Carman Neustaedter. (2020). <span style="text-decoration: underline">Remote
                                            Communication in Wilderness Search and Rescue: Implications for the Design
                                            of Emergency Distributed-Collaboration Tools for Network-Sparse
                                            Environments</span>. <i>Proceedings of the ACM on Human-Computer
                                            Interaction</i> 4, GROUP, 10: <span style="text-decoration: none">28
                                            pages</span>.</span>

                                    (journal).</a><br />




                                <a href="http://hcitang.org/papers/2020-group2020-wsar.pdf"><i
                                        class="fa fa-file-pdf-o"></i></a>




                                <a href="https://doi.org/10.1145/3375190"><i class="fa fa-external-link"></i></a>

                            </section><a class="details" href="/papers/jones2020wsar/">
                                <!-- --></a>
                        </li>
                        <li>
                            <section id="citation">
                                <a href="/papers/feick2020vrqt"><span id="feick2020vrqt">Martin Feick, Niko Kleer,
                                        Anthony Tang, and Antonio Krüger. (2020). <span
                                            style="text-decoration: underline">The Virtual Reality Questionnaire
                                            Toolkit</span>. In <i>AP UIST 2020: Adjunct Proceedings of the 33rd Annual
                                            ACM Symposium on User Interface Software and Technology, UIST
                                            2019</i>.</span>

                                    (poster).</a><br />




                                <a href="http://hcitang.org/papers/2020-uist2020wip-feick-vrqt.pdf"><i
                                        class="fa fa-file-pdf-o"></i></a>


                                <a href="https://github.com/MartinFk/VRQuestionnaireToolkit"><i
                                        class="fa fa-sticky-note-o"></i></a>



                            </section><a class="details" href="/papers/feick2020vrqt/">
                                <!-- --></a>
                        </li>
                    </ol>

                    <h1><a name="2019"></a>2019</h1>
                    <ol class="bibliography">
                        <li>
                            <section id="citation">
                                <a href="/papers/seyed2019dissertation"><span id="seyed2019dissertation">Teddy Seyed.
                                        (2019). <span style="text-decoration: underline">Entrepreneurial Thinking In The
                                            Design Of Ubiquitous Computing</span>. </span>

                                    (thesis).</a><br />




                                <a href="http://hcitang.org/papers/2019-phddissertation-seyed.pdf"><i
                                        class="fa fa-file-pdf-o"></i></a>




                            </section><a class="details" href="/papers/seyed2019dissertation/">
                                <!-- --></a>
                        </li>
                        <li>
                            <section id="citation">
                                <a href="/papers/cavalcanti2019thesis"><span id="cavalcanti2019thesis">Flavia
                                        Cavalcanti. (2019). <span style="text-decoration: underline">Flail: A Domain
                                            Specific Language for Drone Path Generation</span>. </span>

                                    (thesis).</a><br />




                                <a href="http://hcitang.org/papers/2019-mscthesis-cavalcanti.pdf"><i
                                        class="fa fa-file-pdf-o"></i></a>




                            </section><a class="details" href="/papers/cavalcanti2019thesis/">
                                <!-- --></a>
                        </li>
                        <li>
                            <section id="citation">
                                <a href="/papers/ens2019groupware"><span id="ens2019groupware">Barrett Ens, Joel Lanir,
                                        Anthony Tang, Scott Bateman, Gun Lee, Thammaathip Piumsomboon, and Mark
                                        Billinghurst. (2019). <span style="text-decoration: underline">Revisiting
                                            Collaboration through Mixed Reality: The Evolution of Groupware</span>.
                                        <i>International Journal of Human-Computer Studies</i> 131C: <span
                                            style="text-decoration: none">81–98</span>.</span>

                                    (article).</a><br />




                                <a href="http://hcitang.org/papers/2019-ijhcs-revisiting-collaboration.pdf"><i
                                        class="fa fa-file-pdf-o"></i></a>


                                <a href="http://www.sciencedirect.com/science/article/pii/S1071581919300606"><i
                                        class="fa fa-sticky-note-o"></i></a>



                                <a href="https://doi.org/10.1016/j.ijhcs.2019.05.011"><i
                                        class="fa fa-external-link"></i></a>

                            </section><a class="details" href="/papers/ens2019groupware/">
                                <!-- --></a>
                        </li>
                        <li>
                            <section id="citation">
                                <a href="/papers/seyed2019mannequette"><span id="seyed2019mannequette">Teddy Seyed and
                                        Anthony Tang. (2019). <span style="text-decoration: underline">Mannequette:
                                            Understanding and Enabling Collaboration and Creativity on Avant-Garde
                                            Fashion-Tech Runways</span>. In <i>DIS 2019: Conference on Designing
                                            Interactive Systems 2019</i>, 10 pages.</span>

                                    (conference).</a><br />

                                <small>Acceptance: 25% - 100/400.</small>


                                <small>Notes: Honourable mention (top 2% of all submissions).</small>


                                <br />


                                <a href="http://hcitang.org/papers/2019-dis2019-mannequette.pdf "><i
                                        class="fa fa-file-pdf-o"></i></a>



                                <a href="http://hcitang.org/papers/2019-dis2019-mannequette.mp4 "><i
                                        class="fa fa-film"></i></a>


                            </section><a class="details" href="/papers/seyed2019mannequette/">
                                <!-- --></a>
                        </li>
                        <li>
                            <section id="citation">
                                <a href="/papers/jones2019remotecollabinsar"><span
                                        id="jones2019remotecollabinsar">Brennan Jones, Anthony Tang, and Carman
                                        Neustaedter. (2019). <span style="text-decoration: underline">Drones for Remote
                                            Collaboration in Wilderness Search and Rescue</span>. In <i>iHDI -
                                            International workshop on Human-Drone Interaction - Workshop at CHI
                                            2019</i>, 6 pages.</span>

                                    (workshop).</a><br />




                                <a href="http://hcitang.org/papers/2019-chi2019workshop-remote-collab-in-sar.pdf "><i
                                        class="fa fa-file-pdf-o"></i></a>


                                <a href="http://hdi.famnit.upr.si/"><i class="fa fa-sticky-note-o"></i></a>



                            </section><a class="details" href="/papers/jones2019remotecollabinsar/">
                                <!-- --></a>
                        </li>
                        <li>
                            <section id="citation">
                                <a href="/papers/tolley2019windywall"><span id="tolley2019windywall">David Tolley, Thi
                                        Ngoc Tram Nguyen, Anthony Tang, Nimesha Ranasinghe, Kensaku Kawauchi, and
                                        Ching-Chiuan Yen. (2019). <span style="text-decoration: underline">WindyWall:
                                            Exploring Creative Wind Simulations</span>. In <i>TEI 2019: International
                                            Conference on Tangible and Embedded Interaction 2019</i>, 635–644.</span>

                                    (conference).</a><br />

                                <small>Acceptance: 34% - 37/110.</small>



                                <br />


                                <a href="http://hcitang.org/papers/2019-tei2019-windywall.pdf"><i
                                        class="fa fa-file-pdf-o"></i></a>



                                <a href="http://hcitang.org/papers/2019-tei2019-windywall.mp4"><i
                                        class="fa fa-film"></i></a>


                            </section><a class="details" href="/papers/tolley2019windywall/">
                                <!-- --></a>
                        </li>
                    </ol>

                    <h1><a name="2018"></a>2018</h1>
                    <ol class="bibliography">
                        <li>
                            <section id="citation">
                                <a href="/papers/feick2018wayyoumove"><span id="feick2018wayyoumove">Martin Feick, Lora
                                        Oehlberg, Anthony Tang, Andre Miede, and Ehud Sharlin. (2018). <span
                                            style="text-decoration: underline">The Way You Move: The Effect of a Robot
                                            Surrogate Movement in Remote Collaboration</span>. In <i>HRI ’18: Extended
                                            Abstracts of the International Conference on Human-Robot Interaction</i>, 2
                                        pages + poster.</span>

                                    (poster).</a><br />




                                <a href="http://hcitang.org/papers/2018-hri2018lbw-way-you-move.pdf"><i
                                        class="fa fa-file-pdf-o"></i></a>


                                <a href="http://hcitang.org/papers/2018-hri2018lbw-way-you-move-poster.pdf"><i
                                        class="fa fa-sticky-note-o"></i></a>



                            </section><a class="details" href="/papers/feick2018wayyoumove/">
                                <!-- --></a>
                        </li>
                       
                    </ol>

                </div>
            </div>
        </div>
    </div>
</section>